.h2Header {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 15px;
}

.h3Header {
    font-size: 25px;
}

.h4Header {
    font-size: 20px;
}

.rowStyle {
    border: 2px solid cadetblue;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

.backgroundColor {
    background-color: black;
}

.mePicture {
    height: 500px;
    padding: 10px;
    border-radius: 50px;
}

.aboutTextStyle {
    padding: 20px;
}

.iconPicture {
    height: 400px;
    padding: 10px;
}

.footerStyle {
    text-align: center;
}

 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 3rem;    /* Footer height */
  }
  
  #footer {
    padding: 40px;
    text-align: center;
    font-size: 15px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
  }

  .multicolortext {
    font-size: 30px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple, red, orange, yellow, green, blue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }