.h2Header {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 15px;
}

.h3Header {
    font-size: 25px;
}

.h4Header {
    font-size: 20px;
}

.rowStyle {
    border: 2px solid cadetblue;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}

.backgroundColor {
    background-color: black;
}

.mePicture {
    height: 500px;
    padding: 10px;
    border-radius: 50px;
}

.aboutTextStyle {
    padding: 20px;
}

.iconPicture {
    height: 400px;
    padding: 10px;
}

.footerStyle {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}