.appTitle {
    font-size: 45px;
    padding: 10px;
}

.appSubtitle {
    font-size: 20px;
}

.privacyPolicyPenguin {
    font-size: 18px;
    color: #F2536E;
}

.privacyPolicyLightyear {
    font-size: 18px;
    color: #1D96FA;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
  color: white;
}

.appStore {
    height: 70px;
    padding: 10px;
}

.iconPicture {
    height: 300px;
}

.lightyearIconPicture {
    height: 250px;
    /* padding: 10px; */
}

.iconAndTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 10px;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 40px;
    padding-left: 0px;
}

.aboutTheAppContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .penguinContainer {
    border: 2px solid #F2536E;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }

   .lightyearContainer {
    border: 2px solid #1D96FA;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }

  .siteContainer {
    border: 2px solid #E4B9FF;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }

  p > a {
    color: #E4B9FF;
  }