.mePictureCol {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;

    height: 350px;
    padding: 10px;
    border-radius: 170px;
}

.rowStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: 2px solid #ab34f5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.boxCol {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;    

    border: 2px solid #ab34f5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.linkText {
    font-size: 25px;
}

a {
    color: #ab34f5;
}