.mePictureCol {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;

    height: 350px;
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .mePictureCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 200px;
    padding: 10px;
    border-radius: 50%;
    }
}

.rowStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 4px;
    padding: 10px;
    margin: 5px;
    border-image: linear-gradient(to right, #140066, #007E86) 1;
    background-clip: 40em;
   
}

.titleText {
    font-family: 'Volkorn';
    font-weight: bold;
    font-size: 320px;
    color: #000
}

.bodyText {
    font-size: 200px;
    color: #000;
    font-family: 'Open Sans';
}

.imgStyle {
    margin: 20px;
}


/* copy paste it in your .css file*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");