.resumeCategoryHeader {
    background-color: rgb(79, 126, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.resumeItemBody {
    border: 2px solid rgb(79, 126, 255);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.resumeECAandMoreColR {
    margin-right: 5px;
}

.resumeECAandMoreColL {
    margin-left: 5px;
}

.resumeTitleText {
    font-size: 25px;
}

.resumeSubtitleText {
    font-size: 20px;
}

.linked {
    color: rgb(79, 126, 255);
}

.box {
    margin: 6px;
}

a:link {
  text-decoration: none;
  color: rgb(79, 126, 255);
}

a:visited {
  text-decoration: none;
  color: rgb(79, 126, 255);
}

a:hover {
  text-decoration: underline;
  color: rgb(79, 126, 255);
}

a:active {
  text-decoration: underline;
  color: rgb(79, 126, 255);
}